<div class="login-form">
  <%= content_tag(:div, flash[:error], class: "alert-errors") %>
  <%= form_for(:session, url: login_path) do |form| %>
    <%= form.label :email, hidden: :true %>
    <%= form.text_field :email, placeholder: "Email",
                                tabindex: "1",
                                autofocus: "true" %><br>

    <%= form.label :password, hidden: :true %>
    <%= form.password_field :password, placeholder: "Password",
                                       tabindex: "1" %>

    <%= form.check_box :remember_me %>
    <%= form.label :remember_me, class: 'remember-label' %>


    <%= button_tag(type: 'submit', class: "") do %>
      Log in
    <% end %>
  <% end %>
</div>
