<% provide(:title, 'Friends') %>
<div id="app">
  <div class="show-all-friends">
    <h1>Friends</h1>
    <hr>
    <% @friends.all.each do |friend| %>
      <div class="one-friend">
        <%= link_to friend, remote: true do %>
          <% if (get_avatar friend).nil? %>
            <figure class="avatar">
              <p><img src="/assets/avatar.jpg"></p>
            </figure>
          <% else %>
            <figure class="avatar">
              <p><img src=<%= "#{get_avatar friend}" %> ></p>
            </figure>
          <% end %>
        <% end %>
        <%= link_to "#{friend.name+' '+friend.surname}", user_path(friend), remote: true %>

        <% unless friend == current_user %>

            <button class="friend-action send-letter" id= <%=friend.id %>>Send message</button>
            <div class="send-message" id=<%="send-message-#{friend.id}" %> >
              <%= form_for(:message, :url => user_messages_path(friend), method: :post, remote: true) do |form| %>
                <%= form.label :text, hidden: :true %>
                <%= form.text_area :text, class: "message-create-body",
                                          placeholder: "Write your message",
                                          autofocus: "true" %> <br>
                <hr class="comment-margin">
                <%= button_tag(type: 'submit') do %>
                  Send
                <% end %>
              <% end %>
              <hr class="comment-margin">
            </div>
          <% if @user == current_user %>
            <%= form_for(:user, url: delete_friend_path, method: :delete, remote: true) do |form| %>
              <%= form.hidden_field 'user_id', :value => friend.id %>
              <%= form.hidden_field 'profile', :value => false %>
              <button class="friend-action" type="submit">Delete friend</button>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <hr>
    <% end %>
  </div>
</div>
