<div class="show-all-friends">
  <h1>Friends</h1>
  <hr>
  <% @friends.all.each do |friend| %>
    <div class="one-friend">
      <%= link_to friend, method: :get do %>
        <% if (get_avatar friend).nil? %>
          <figure class="avatar">
            <p><img src="/assets/avatar.jpg"></p>
          </figure>
        <% else %>
          <figure class="avatar">
            <p><img src=<%= "#{get_avatar friend}" %> ></p>
          </figure>
        <% end %>
      <% end %>
      <%= link_to "#{friend.name+' '+friend.surname}", user_path(friend), method: :get %>

      <% unless friend == current_user %>

          <button class="friend-action send-letter">Send messadge</button>
          <div class="send-messadge">
            <%= form_for(:messadge, :url => user_messages_path(@user), method: :post, remote: true) do |form| %>
              <%= form.label :text, hidden: :true %>
              <%= form.text_area :text, class: "messadge-create-body",
                                        placeholder: "Write your messadge",
                                        autofocus: "true" %> <br>
              <hr class="comment-margin">
              <%= button_tag(type: 'submit') do %>
                Send
              <% end %>
            <% end %>
            <hr class="comment-margin">
          </div>

        <%= form_for(:user, url: delete_friend_path, method: :delete) do |form| %>
          <%= form.hidden_field 'user_id', :value => @user.id %>
          <button class="friend-action" type="submit">Delete friend</button>
        <% end %>
      <% end %>
    </div>
    <hr>
  <% end %>
</div>
