<% provide(:title, 'News') %>
<div class="user-show">
  <div class="puts-image">
    <% @images.all.each do |img| %>
      <div class="one-image">
        <figure class="icon" >
          <p><img src=<%= img.image.list.url %> class="with" id=<%= img.id %> ></p>
        </figure>
      </div>
    <% end %>
    <hr class="line">
  </div>
  <div class="profile-activity">
    <div class="posts">
      <% @posts.each do |post| %>
        <div class="post" id=<%= "post-#{post.id}" %> >
          <p class="author"><%= link_to (creator post).name+' '+(creator post).surname, (creator post), method: :get %></p>
          <p class="rating">
            <span class="like">
              <%= link_to '+', like_user_post_path((creator post), post), method: :post, remote: true %>
              <span class=<%= "plus-#{post.id}" %>><%= like post %></span>
            </span> |
            <span class="dislike">
              <span class=<%= "minus-#{post.id}" %>><%= dislike post %></span>
              <%= link_to '-', dislike_user_post_path((creator post), post), method: :post, remote: true %>
            </span>
          </p>
          <p class="date"><%= date_format post.created_at %></p>
          <hr class="line">
          <% unless post.images.empty? %>
            <img src=<%= post.images.last.image.post.url %> class="with" id=<%= post.id %> >
          <% end %>
          <% unless (get_utube post.text).nil? %>
            <iframe width="420" height="315" frameborder="0" allowfullscreen
                    src=<%= get_utube post.text %> ></iframe>
          <% end %>
          <div class="post-content">
            <p class="post-text"><%= post.text %></p>
          </div>
        </div>
      <% end %>
      <%= will_paginate @posts %>
    </div>
  </div>
</div>
