<!DOCTYPE html>
<html>
  <head>
    <title>Ant-eater</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>

    <div class="main-content">
      <div class="go-up"></div>
      <div class="show-image">
        <%= render '/images/show' %>
      </div>
      <div class="content">
        <div class="menu">
          <% if logged? %>
            <%= render 'layouts/menu' %>
          <% else %>
            <%= render 'sessions/login' %>
          <% end %>
        </div>
        <div class="yield_pages">
          <%= yield %>
        </div>
      </div>
    </div>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
